.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 100%;
  height: 4496px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(17, 17, 17, 1);
}
.desktop1-section {
  top: 142px;
  left: 52px;
  width: 1440px;
  height: 773px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-container01 {
  top: 156px;
  left: 616px;
  width: 809px;
  height: 597.6900024414062px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.desktop1-heading1 {
  top: 177px;
  left: 12px;
  width: 276px;
  height: 112px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text {
  top: 122px;
  left: 107px;
  color: #1af1cc;
  width: 526px;
  height: auto;
  position: absolute;
  font-size: 120px;
  font-style: Medium;
  text-align: left;
  font-family: "Exo 2";
  font-weight: 500;
  line-height: 21.6px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-link {
  top: 380px;
  left: 110px;
  width: 170px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: rgba(17, 219, 207, 1);
}
.desktop1-text001 {
  top: 11.5px;
  left: 32px;
  color: rgba(17, 17, 17, 1);
  width: 106px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Raleway;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text003 {
  top: 208px;
  left: 113px;
  color: #b1ffdc;
  width: var(--dl-size-size-maxwidth);
  height: var(--dl-size-size-xlarge);
  position: absolute;
  font-size: 44px;
  font-style: Medium;
  text-align: left;
  font-family: "Raleway";
  font-weight: 500;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text007 {
  top: 332px;
  left: 113px;
  color: rgba(255, 255, 255, 1);
  width: 526px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Raleway;
  font-weight: 500;
  line-height: 21.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-image4 {
  left: 134px;
  width: 462px;
  bottom: 14px;
  height: 423px;
  position: absolute;
}
.desktop1-image3 {
  top: 131px;
  left: 393px;
  width: 249px;
  height: 504px;
  position: absolute;
  border-radius: 20px;
}
.desktop1-image2 {
  top: 140px;
  left: 125px;
  width: 249px;
  height: 504px;
  position: absolute;
  border-radius: 20px;
}
.desktop1-image1 {
  top: 53px;
  left: 221px;
  width: 325px;
  height: 596px;
  position: absolute;
  border-radius: 20px;
}
.desktop1-container02 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 104px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-header {
  top: 38px;
  left: 20px;
  width: 1455px;
  height: 66px;
  display: flex;
  position: absolute;
  background: linear-gradient(90deg, rgba(17, 219, 207, 1) 0%, rgba(9, 82, 77, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
}
.desktop1-container03 {
  top: 12px;
  left: 153px;
  width: 1207px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-nav-list {
  top: 13px;
  right: 24px;
  width: 520px;
  height: 42.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text009 {
  top: 9.75px;
  left: 30px;
  color: rgba(255, 255, 255, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22.5px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text011 {
  top: 9.75px;
  left: 102.4000015258789px;
  color: rgba(255, 255, 255, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22.5px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text013 {
  top: 9.75px;
  left: 196.6199951171875px;
  color: rgba(255, 255, 255, 1);
  width: 55px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22.5px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text015 {
  top: 9.75px;
  left: 281.7099914550781px;
  color: rgba(255, 255, 255, 1);
  width: 76px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22.5px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-item-link {
  top: 0px;
  left: 387.5899963378906px;
  width: 132px;
  height: 42.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-text017 {
  top: 9.75px;
  left: 27px;
  color: rgba(17, 17, 17, 1);
  width: 79px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22.5px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-applogo1 {
  top: 6px;
  left: 42px;
  width: 76px;
  height: 54px;
  position: absolute;
}
.desktop1-section1 {
  top: 877px;
  left: 1px;
  width: 1439px;
  height: 587px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-container04 {
  top: 60px;
  left: 60px;
  width: 1320px;
  height: 467px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-heading2 {
  top: 0px;
  left: 12px;
  width: 1296px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-horizontal-divider {
  top: 12px;
  left: 519.8599853515625px;
  width: 50px;
  height: 2px;
  position: absolute;
}
.desktop1-text019 {
  left: 584.8599853515625px;
  color: rgba(17, 219, 207, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-horizontal-divider01 {
  top: 12px;
  left: 726.1400146484375px;
  width: 50px;
  height: 2px;
  position: absolute;
}
.desktop1-text021 {
  top: 87px;
  left: -44px;
  color: rgba(255, 255, 255, 1);
  width: 1408px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-container05 {
  top: 158px;
  left: 0px;
  width: 1320px;
  height: 309px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-container06 {
  top: 116px;
  left: 0px;
  width: 660px;
  height: 165px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-heading21 {
  top: 16px;
  left: 12px;
  width: 636px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-horizontal-divider02 {
  top: 12px;
  left: 170.97999572753906px;
  width: 50px;
  height: 2px;
  position: absolute;
}
.desktop1-text025 {
  left: 235.97999572753906px;
  color: rgba(17, 219, 207, 1);
  width: 164px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-horizontal-divider03 {
  top: 12px;
  left: 415px;
  width: 50px;
  height: 2px;
  position: absolute;
}
.desktop1-text027 {
  top: 68.5px;
  left: 14.329999923706055px;
  color: rgba(255, 255, 255, 1);
  width: 632px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-container07 {
  top: 116px;
  left: 660px;
  width: 660px;
  height: 165px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-heading22 {
  top: 16px;
  left: 12px;
  width: 636px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-horizontal-divider04 {
  top: 12px;
  left: 181.02999877929688px;
  width: 50px;
  height: 2px;
  position: absolute;
}
.desktop1-text029 {
  left: 246.02999877929688px;
  color: rgba(17, 219, 207, 1);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-horizontal-divider05 {
  top: 12px;
  left: 404.9700012207031px;
  width: 50px;
  height: 2px;
  position: absolute;
}
.desktop1-text031 {
  top: 68.5px;
  left: 27.389999389648438px;
  color: rgba(255, 255, 255, 1);
  width: 605px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text033 {
  top: 134px;
  left: 99px;
  color: rgba(255, 255, 255, 1);
  width: 1122px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-section2 {
  top: 1474px;
  left: 96px;
  width: 1343px;
  height: 547px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-background {
  top: 23px;
  left: 80px;
  width: 414px;
  height: 202px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: rgba(251, 236, 237, 1);
}
.desktop1-text035 {
  top: 41px;
  left: 66px;
  color: rgba(72, 72, 72, 1);
  width: 328px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text036 {
  font-weight: 700;
}
.desktop1-cal31 {
  top: 16px;
  left: 0px;
  width: 70px;
  height: 79px;
  position: absolute;
}
.desktop1-background1 {
  top: 24px;
  left: 561px;
  width: 440px;
  height: 202px;
  display: flex;
  position: absolute;
  background: linear-gradient(0deg, rgba(17, 219, 207, 1) 0%, rgba(9, 82, 77, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
}
.desktop1-text038 {
  top: 49px;
  left: 65px;
  color: rgba(255, 255, 255, 1);
  width: 352px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text039 {
  font-weight: 700;
}
.desktop1-pro21 {
  top: 40px;
  left: 8px;
  width: 52px;
  height: 57px;
  position: absolute;
}
.desktop1-background2 {
  left: 80px;
  width: 414px;
  bottom: 70px;
  height: 223px;
  display: flex;
  position: absolute;
  background: linear-gradient(0deg, rgba(17, 219, 207, 1) 0%, rgba(9, 82, 77, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: flex-start;
}
.desktop1-text041 {
  top: 37px;
  left: 57px;
  color: rgba(255, 255, 255, 1);
  width: 344px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text042 {
  font-weight: 700;
}
.desktop1-db1 {
  top: 23px;
  left: 5px;
  width: 50px;
  height: 56px;
  position: absolute;
}
.desktop1-background3 {
  left: 564px;
  width: 440px;
  bottom: 70px;
  height: 223px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: rgba(251, 236, 237, 1);
}
.desktop1-text044 {
  top: 37px;
  color: rgba(72, 72, 72, 1);
  right: 22px;
  width: 356px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text045 {
  font-weight: 700;
}
.desktop1-feed1 {
  top: 29px;
  left: 7px;
  width: 59px;
  height: 56px;
  position: absolute;
}
.desktop1-image5 {
  top: -3px;
  right: 9px;
  width: 361px;
  height: 496px;
  position: absolute;
}
.desktop1-section3 {
  top: 1944px;
  left: 1px;
  width: 1439px;
  height: 1191px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-background4 {
  top: 74px;
  right: -59px;
  width: 1439px;
  height: 702.5900268554688px;
  display: flex;
  position: absolute;
  background: linear-gradient(180deg, rgba(17, 219, 207, 1) 0%, rgba(9, 82, 77, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-container08 {
  top: 0px;
  left: 60px;
  width: 1320px;
  height: 654.5900268554688px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-container09 {
  top: 35px;
  left: 348px;
  width: 624px;
  height: 151.58999633789062px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-heading23 {
  top: 0px;
  left: 12px;
  width: 600px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-horizontal-divider06 {
  top: 12px;
  left: 174.86000061035156px;
  width: 50px;
  height: 2px;
  position: absolute;
}
.desktop1-text047 {
  left: 239.86000061035156px;
  color: rgba(255, 255, 255, 1);
  width: 121px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-horizontal-divider07 {
  top: 12px;
  left: 375.1400146484375px;
  width: 50px;
  height: 2px;
  position: absolute;
}
.desktop1-text049 {
  top: 38px;
  left: 221.66000366210938px;
  color: rgba(255, 255, 255, 1);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text051 {
  top: 61.70000076293945px;
  left: 61.59000015258789px;
  color: rgba(255, 255, 255, 1);
  width: 501px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Medium;
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  line-height: 33.599998474121094px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-image8 {
  top: 197px;
  left: 1120px;
  width: 190px;
  height: 380px;
  position: absolute;
  border-radius: 20px;
}
.desktop1-image9 {
  top: 187px;
  left: 286px;
  width: 200px;
  height: 400px;
  position: absolute;
  border-radius: 20px;
}
.desktop1-image10 {
  top: 187px;
  left: 838px;
  width: 195px;
  height: 400px;
  position: absolute;
  border-radius: 20px;
}
.desktop1-image7 {
  top: 167px;
  left: 550px;
  width: 220px;
  height: 440px;
  position: absolute;
  border-radius: 20px;
}
.desktop1-paragraph {
  top: 806px;
  left: 215px;
  width: 519px;
  height: 415px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text053 {
  top: 79px;
  color: rgba(17, 219, 207, 1);
  right: -30px;
  width: 514px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Raleway;
  font-weight: 500;
  line-height: 38.400001525878906px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text055 {
  top: 155px;
  left: 77px;
  color: rgba(255, 255, 255, 1);
  width: 378px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-section4 {
  top: 3184px;
  left: 23px;
  width: 1439px;
  height: 572px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-background-shadow {
  top: 60px;
  left: 41px;
  width: 306px;
  height: 451.5899963378906px;
  display: flex;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(180deg, rgba(17, 219, 207, 1) 0%, rgba(9, 82, 77, 1) 100%);
  box-shadow: 0px 0px 29px 0px rgba(68, 88, 144, 0.11999999731779099) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.desktop1-shape {
  top: -40px;
  left: 266px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50px;
}
.desktop1-background5 {
  top: 10px;
  left: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: rgba(9, 82, 77, 1);
}
.desktop1-icon {
  left: 9px;
  width: 36px;
  bottom: 11px;
  height: 36px;
  position: absolute;
}
.desktop1-text057 {
  top: 88px;
  left: 30px;
  color: rgba(255, 255, 255, 1);
  width: 303px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 21.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text059 {
  top: 137px;
  left: 33px;
  color: rgba(255, 255, 255, 1);
  width: 240px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-background-shadow1 {
  top: 60px;
  left: 406px;
  width: 306px;
  height: 451.5899963378906px;
  display: flex;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(180deg, rgba(17, 219, 207, 1) 0%, rgba(9, 82, 77, 1) 100%);
  box-shadow: 0px 0px 29px 0px rgba(68, 88, 144, 0.11999999731779099) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.desktop1-shape1 {
  top: -40px;
  left: 266px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50px;
}
.desktop1-background6 {
  top: 10px;
  left: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: rgba(9, 82, 77, 1);
}
.desktop1-icon01 {
  left: 13px;
  width: 36px;
  bottom: 12px;
  height: 36px;
  position: absolute;
}
.desktop1-text061 {
  top: 88px;
  left: 30px;
  color: rgba(255, 255, 255, 1);
  width: 245px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 21.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text063 {
  left: 28px;
  color: rgba(255, 255, 255, 1);
  width: 232px;
  bottom: 23px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-background-shadow2 {
  top: 60px;
  left: 771px;
  width: 306px;
  height: 451.5899963378906px;
  display: flex;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(180deg, rgba(17, 219, 207, 1) 0%, rgba(9, 82, 77, 1) 100%);
  box-shadow: 0px 0px 29px 0px rgba(68, 88, 144, 0.11999999731779099) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.desktop1-shape2 {
  top: -40px;
  left: 266px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50px;
}
.desktop1-background7 {
  top: 10px;
  left: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: rgba(9, 82, 77, 1);
}
.desktop1-icon02 {
  left: 13px;
  width: 36px;
  bottom: 10px;
  height: 36px;
  position: absolute;
}
.desktop1-text065 {
  top: 88px;
  left: 30px;
  color: rgba(255, 255, 255, 1);
  width: 234px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 21.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text067 {
  left: 36px;
  color: rgba(255, 255, 255, 1);
  width: 246px;
  bottom: 17px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-background-shadow3 {
  top: 60px;
  left: 1107px;
  width: 306px;
  height: 451.5899963378906px;
  display: flex;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(180deg, rgba(17, 219, 207, 1) 0%, rgba(9, 82, 77, 1) 100%);
  box-shadow: 0px 0px 29px 0px rgba(68, 88, 144, 0.11999999731779099) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.desktop1-shape3 {
  top: -40px;
  left: 266px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50px;
}
.desktop1-background8 {
  top: 10px;
  left: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: rgba(9, 82, 77, 1);
}
.desktop1-icon03 {
  left: 13px;
  width: 36px;
  bottom: 12px;
  height: 36px;
  position: absolute;
}
.desktop1-text069 {
  top: 88px;
  left: 30px;
  color: rgba(255, 255, 255, 1);
  width: 376px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 21.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text071 {
  top: 131px;
  left: 32px;
  color: rgba(255, 255, 255, 1);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-section5 {
  top: 3770px;
  left: 1px;
  width: 1439px;
  height: 630px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-container10 {
  top: 60px;
  left: 60px;
  width: 1320px;
  height: 510px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-heading24 {
  top: 0px;
  left: 12px;
  width: 1296px;
  height: 78px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-horizontal-divider08 {
  top: 12px;
  left: 436.6600036621094px;
  width: 50px;
  height: 2px;
  position: absolute;
}
.desktop1-text073 {
  left: 501.6600036621094px;
  color: rgba(17, 219, 207, 1);
  width: 293px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-horizontal-divider09 {
  top: 12px;
  left: 809.3400268554688px;
  width: 50px;
  height: 2px;
  position: absolute;
}
.desktop1-text075 {
  top: 125.5px;
  left: 12px;
  color: rgba(17, 219, 207, 1);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text076 {
  color: rgba(17, 219, 207, 1);
}
.desktop1-text077 {
  top: 176px;
  left: 12px;
  color: rgba(255, 255, 255, 1);
  width: 387px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-link1 {
  top: 301px;
  left: 12px;
  width: 36px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(17, 219, 207, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-icon04 {
  left: 8px;
  width: 18px;
  bottom: 7px;
  height: 18px;
  position: absolute;
}
.desktop1-link2 {
  top: 301px;
  left: 56.160003662109375px;
  width: 36px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(17, 219, 207, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-icon05 {
  left: 9px;
  width: 18px;
  bottom: 7px;
  height: 18px;
  position: absolute;
}
.desktop1-link3 {
  top: 301px;
  left: 100.30999755859375px;
  width: 36px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(17, 219, 207, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-icon06 {
  left: 10px;
  width: 18px;
  bottom: 8px;
  height: 18px;
  position: absolute;
}
.desktop1-link4 {
  top: 301px;
  left: 144.47000122070312px;
  width: 36px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(17, 219, 207, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-icon07 {
  top: 10px;
  left: 10px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.desktop1-icon08 {
  top: 124px;
  left: 459px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.desktop1-text079 {
  top: 127px;
  left: 504px;
  color: rgba(251, 236, 237, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: underline;
}
.desktop1-icon09 {
  top: 182px;
  left: 459px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.desktop1-text081 {
  top: 181px;
  left: 504px;
  color: rgba(255, 255, 255, 1);
  width: 103px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text083 {
  top: 127px;
  left: 123px;
  color: rgba(81, 251, 169, 1);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-icon10 {
  top: 236px;
  left: 459px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.desktop1-text085 {
  top: 235px;
  left: 504px;
  color: rgba(255, 255, 255, 1);
  width: 172px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-form {
  top: 126px;
  left: 782px;
  width: 526px;
  height: 384px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-input {
  top: 1px;
  left: 1px;
  width: 524px;
  height: 41px;
  display: flex;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(206, 212, 218, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-container11 {
  top: 11px;
  left: 15px;
  width: 494px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text087 {
  color: rgba(108, 117, 125, 1);
  width: 74px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-input1 {
  top: 64px;
  left: 1px;
  width: 524px;
  height: 41px;
  display: flex;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(206, 212, 218, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-container12 {
  top: 11px;
  left: 15px;
  width: 494px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text089 {
  color: rgba(108, 117, 125, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-input2 {
  top: 127px;
  left: 1px;
  width: 524px;
  height: 41px;
  display: flex;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(206, 212, 218, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-container13 {
  top: 11px;
  left: 15px;
  width: 494px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text091 {
  color: rgba(108, 117, 125, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-textarea {
  top: 190px;
  left: 1px;
  width: 524px;
  height: 125px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(206, 212, 218, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-button {
  top: 337px;
  left: 366px;
  width: 159px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: rgba(17, 219, 207, 1);
}
.desktop1-text093 {
  top: 12px;
  left: 26px;
  color: rgba(17, 17, 17, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-image6 {
  top: 2201px;
  left: 79px;
  width: 190px;
  height: 380px;
  position: absolute;
  border-radius: 20px;
}
.desktop1-footer {
  left: 25px;
  width: 1465px;
  bottom: 0px;
  height: 81px;
  display: flex;
  position: absolute;
  background: linear-gradient(90deg, rgba(17, 219, 207, 1) 0%, rgba(9, 82, 77, 1) 100%);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-unit);
  border-radius: 50px 50px 0 0;
}
.desktop1-strong {
  top: 30px;
  left: 131px;
  width: 182px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text095 {
  color: rgba(255, 255, 255, 1);
  width: 182px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text097 {
  top: 30px;
  left: 456.77001953125px;
  color: rgba(255, 255, 255, 1);
  width: 276px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-nav {
  top: 30px;
  left: 1006px;
  width: 323px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text099 {
  left: 7.7700042724609375px;
  color: rgba(255, 255, 255, 1);
  width: 44px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text101 {
  left: 65.97999572753906px;
  color: rgba(255, 255, 255, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text103 {
  left: 124.04998779296875px;
  color: rgba(255, 255, 255, 1);
  width: 91px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text105 {
  left: 230.1400146484375px;
  color: rgb(255, 255, 255);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-image11 {
  top: 2763px;
  left: 830px;
  width: 350px;
  height: 400px;
  position: absolute;
}
